.countryStyle {
  border: 4px solid rgba(83, 83, 83, 0.151);
  margin: 15px;
  padding: 15px;
  background-color: rgba(221, 224, 224, 0.233);
  border-radius: 10px;
}

.imgheight {
  height: 213px;
  width: 350px;
}

.buttonBorder {
  border: 1px solid steelblue;
}
.visitedStyle {
  background-color: rgba(71, 61, 139, 0.342);
}
